doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2 Buscar Estudiante
    br
    br
    input(type="text")
    label buscar
    center
      table(border="1")
        tr
          td Nombre
          td Apellido Paterno
          td Apellido Materno
          td Más datos
        tr
          td
          td
          td
          td
        tr
          td
          td
          td
          td
        tr
          td
          td
          td
          td

