doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    center
      h2 Lista Estudiantes
      table(border="1")
        tr
          td Nombre
          td Apellido Paterno
          td Apellido Materno
          td Más datos
        tr
          td
          td
          td
          td
        tr
          td
          td
          td
          td
        tr
          td
          td
          td
          td
